USE [tkbDB]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PhongHoc__20BD5E5B02DC92E9] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinhTiet]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinhTiet](
	[Tiet] [int] NOT NULL,
	[GioVao] [time](7) NOT NULL,
	[GioRa] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TietHoc]    Script Date: 4/15/2025 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TietHoc](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [varchar](10) NOT NULL,
	[MaLop] [varchar](20) NOT NULL,
	[MaMon] [varchar](10) NOT NULL,
	[MaPhong] [nvarchar](50) NULL,
	[Thu] [int] NOT NULL,
	[TietBD] [int] NOT NULL,
	[SoTiet] [int] NOT NULL,
	[NgayHoc] [date] NOT NULL,
 CONSTRAINT [PK__TietHoc__3214EC27C7817877] PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [FK_TietHoc_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [FK_TietHoc_GiangVien]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [FK_TietHoc_LopHoc] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [FK_TietHoc_LopHoc]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [FK_TietHoc_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [FK_TietHoc_MonHoc]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [FK_TietHoc_PhongHoc] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [FK_TietHoc_PhongHoc]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [CK_SoTiet] CHECK  (([SoTiet]>=(1) AND [SoTiet]<=(5)))
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [CK_SoTiet]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [CK_Thu] CHECK  (([Thu]>=(2) AND [Thu]<=(7)))
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [CK_Thu]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [CK_Tiet_End] CHECK  (((([TietBD]+[SoTiet])-(1))<=(10)))
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [CK_Tiet_End]
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD  CONSTRAINT [CK_TietBD] CHECK  (([TietBD]>=(1) AND [TietBD]<=(10)))
GO
ALTER TABLE [dbo].[TietHoc] CHECK CONSTRAINT [CK_TietBD]
GO
